[Desktop Entry]
Encoding=UTF-8
Name=Make Remaster
Name[de]=Erstelle Remaster
Name[es]=Recrear (remaster)
Name[it]=Crea un Remaster
Comment=Remaster while running from livecd/harddrive
Comment[de]=Remastere während die Livecd läuft.
Comment[es]=Recrear desde CDenVivo/Disco duro
Comment[it]=Crea un remaster da livecd o installazione fissa
Exec=pkexec /usr/sbin/mkremaster
Icon=mkremaster
Terminal=false
Type=Application
StartupNotify=false
Categories=System;Utility;Core;GTK;
NotShowIn=KDE;
